/* Apply styles to the body element */
body {
    background-color: #fff8f0;
    color: #333;
    font-family: "Comic Sans MS", cursive;
    margin: 50px;
    padding: 0;
}

/* Apply styles to the wrapper div */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


/* Apply styles to the image */
.image1 {
    display: flex;
    width: 90%;
    max-width: 450px;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.image2 {
    width: 100%;
    display: block;
    text-align: center;
}


/* Apply styles to the h1 element */
h1 {
    text-align: center;
    color: #ff6600;
    margin-top: 20px;
}

/* Apply styles to the h3 element */
h3 {
    color: #b14006;
}

/* Apply styles to h4 elements */
h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #572000;
}

/* Apply styles to list items (li) */
li {
    margin-left: 0px;
}

/* Style the links in the unordered list */
ul a {
    color: #ff6600;
    text-decoration: none;
}

/* Change link color on hover */
ul a:hover {
    text-decoration: underline;
}

/* Apply styles to the recipe div */
.recipe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Float the UL ingredient block to the left */
.ingredients ul {
    float: left;
}

.ingredients h4,
.instruction h4 {
    text-align: center;
}

/* Adjust the margin of the instruction block and clear the float after */
.instruction {
    margin-left: 10px;
    clear: both;
}


/* Media query for smartphone screens (<768px) */
@media (max-width: 768px) {

    /* Change the wrapper width to 100% for a single column layout */
    .wrapper {
        width: 100%;
    }

    /* Adjust styles for images to make them more responsive */
    .image1,
    .image2 {
        max-width: 100%;
        height: auto;
        width: auto;
    }

    .image2 img {
        width: 100%;
    }

    /* Adjust styles for h3 on smaller screens */
    h3 {
        font-size: 18px;
    }

    /* Modify styles for h4 elements on smaller screens */
    h4 {
        margin-bottom: 5px;
    }

    /* Remove the left margin to save space */
    li {
        margin-left: 0;
    }

    /* Change to a single column layout */
    .recipe {
        flex-direction: column;
    }

    /* Adjust styling for ingredient blocks on smaller screens */
    .ingredients ul,
    .ingredients ol {
        float: none;
        margin-left: 0;
    }
}

.nutrition {
    margin: 0 auto;
    text-align: center;
}

.facts {
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    width: auto;
    padding: 0.5rem;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
}

.header {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
}

.header p {
    text-align: left;
    margin: 0;
}

.header h3 {
    text-align: left;
    color: black;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 0;
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
}

.table td:last-child {
    text-align: right;
}

.blank {
    width: 1rem;
    border-top: 0;
}

.thick {
    border-top-width: 5px;
    border-bottom: 10px solid black;
}
form {
    max-width: 600px;
    margin: auto;
}
label {
    display: inline;
    margin-bottom: 8px;
}
input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #b14006;
}